body, html {
height: 100%;
margin: 0;
}

body{
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 50px;
    grid-template-columns: 15% auto 15%;
}

.topnav {
    grid-row: 1;
    grid-column: 1/end;
    background-color: #eca72c;
    overflow: hidden;
    display: grid;
    grid-template-columns: 65% 35%;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    
}

.nav-align-right {
    grid-column: 2;
    justify-self: end;
}

.topnav a {
    color: #221e22;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #221e22;
    color: #eca72c;
}

.topnav a:active {
    background-color: #221e22;
    color: #eca72c;
}

.topnav .icon {
    display: none;
}

.hero-image {
    background-image: linear-gradient(rgba(49, 38, 62, 0.7), rgba(49, 38, 62, 1)), url('../imgs/background-image.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2;
    grid-column: 1/end;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 5% auto 10px auto 75px auto 5%;
    align-content: center;
    align-self: center;
}

.hero-logo {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
}

.hero-txt {
    color: white;
    grid-column: 2;
    grid-row: 4;
    text-align: right;
    justify-self: center;
}

.hero-txt h1 {
    font-size: 45px;
    margin-bottom: 0px;
    font-family: 'Permanent Marker', cursive;
}

.hero-txt h3 {
    margin-top: 5px;
    opacity: 0;
}

.hero-button {
    grid-column: 2;
    grid-row: 6;  
    width: 250px;
    justify-self: center;
    align-self: center;
    height: 50px;
    font-size: 24px;
    background-color: transparent;
    color: #eca72c;
    border: 2px solid #eca72c;
    border-radius: 5px;
}

.hero-button a {
    text-decoration: none;
    color: #eca72c;
}

.hero-button a:hover {
    color: #221E22;
}

.hero-button:hover, .price-button:hover {
    background-color: #eca72c;
    color: #221e22;
}

.calendar-container {
    height: 800px;
    grid-column: 1/end;
    grid-row: 3;
    background-color: #31263E;
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.calendar-img {
    grid-column: 2;
    justify-self: center;
}

.purple-clouds{
    position: relative;
    grid-column: 1/end;
}

.custom-shape-divider-top-1601775117 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1601775117 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 89px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1601775117 .shape-fill {
    fill: #31263E;
}

.price-container {
    height:800px;
    grid-row: 4;
    grid-column: 1/end;
    background-color: #44355B;
    display: grid;
    grid-template-columns: auto 370px 8% 370px auto;
    grid-template-rows: 10% auto 20%;
    justify-content: center;
}

.friday-pass {
    grid-column: 2;
    grid-row: 2;
}

.weekend-pass {
    grid-row: 2;
    grid-column: 4;

}

.price-button {
    grid-row: 3;
    grid-column: 2/5;
    height: 50px;
    align-self: center;
    width: 50%;
    justify-self: center;
    font-size: 24px;
    background-color: transparent;
    color: #eca72c;
    border: 2px solid #eca72c;
    border-radius: 5px;
}

.footernav {
    background-color: #EE5622;
    color: #221E22;
    grid-column: 1/end;
    text-align: center;
}

.maize-bkg {
    height: 1000px;
    grid-column: 1/end;
    grid-row: 2/end;
    background-color: #221e22;
    background-image: url(../imgs/maize-runner.png);
    display: grid;
    grid-template-columns: 25% auto 25%;
}

.maize-txt {
    background-color: rgba(236, 167, 44, 1);
    border: 15px solid #221e22;
    border-radius: 5px;
    height: 250px;
    grid-column: 2;
    align-self: center;
    line-height: 250px;;
}

.maize-txt p {
    text-align: center;
    color: #221e22;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    padding-left:5px;
    padding-right:5px;
}
